# Practice with Pandas

## Import Data from kaggle

In [1]:
import kagglehub

# Authenticate
# kagglehub.login() # This will prompt you for your credentials.
# We also offer other ways to authenticate (credential file & env variables): https://github.com/Kaggle/kagglehub?tab=readme-ov-file#authenticate

from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi()
api.authenticate()

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ibrarhussain123/world-largest-cities-by-population-2024")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.8), please consider upgrading to the latest version (0.3.10).
Downloading from https://www.kaggle.com/api/v1/datasets/download/ibrarhussain123/world-largest-cities-by-population-2024?dataset_version_number=1...

100%|██████████| 16.9k/16.9k [00:00<00:00, 1.03MB/s]

Extracting files...
Path to dataset files: C:\Users\skyfree\.cache\kagglehub\datasets\ibrarhussain123\world-largest-cities-by-population-2024\versions\1

In [4]:
# Move the dataset
import os, shutil

files = os.listdir(path)

shutil.move(f'{path}/{files[0]}', "../Data/Datasets/big_cities.csv")

'../Data/Datasets/big_cities.csv'

## Load Data into Pandas

In [5]:
import pandas as pd

file_loc = "../Data/Datasets/big_cities.csv"
df = pd.read_csv(file_loc)

df.head()

,Unnamed: 0,City,Country,Population (2024),Population (2023),Growth Rate
0,0,Tokyo,Japan,37115035,37194105,-0.0021
1,1,Delhi,India,33807403,32941309,0.0263
2,2,Shanghai,China,29867918,29210808,0.0225
3,3,Dhaka,Bangladesh,23935652,23209616,0.0313
4,4,Sao Paulo,Brazil,22806704,22619736,0.0083

In [6]:
# Drop the Unnamed column
df.drop(df.columns[0], axis= 1, inplace=True)

## Explore

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               801 non-null    object
 1   Country            801 non-null    object
 2   Population (2024)  801 non-null    int64
 3   Population (2023)  801 non-null    int64
 4   Growth Rate        801 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 31.4+ KB
None

In [8]:
print(df.describe())

       Population (2024)  Population (2023)  Growth Rate
count       8.010000e+02       8.010000e+02   801.000000
mean        2.654327e+06       2.604461e+06     0.020051
std         3.723253e+06       3.661201e+06     0.012180
min         7.500360e+05       7.228360e+05    -0.024900
25%         9.909310e+05       9.698040e+05     0.012200
50%         1.379368e+06       1.363510e+06     0.019700
75%         2.570980e+06       2.514077e+06     0.026600
max         3.711504e+07       3.719410e+07     0.058200

### Warmup Exercises

This part is a follow along exercise Learn Data Analytics with Pandas: Master Data Filtering in Python from CodeWithJosh

In [9]:
## Find cities with 2024 population greater than 20 million

condition = df["Population (2024)"] > 20e+6

cities_more_than_20min_2024 = df[condition]

print(cities_more_than_20min_2024.head())
print(cities_more_than_20min_2024.info())
print(cities_more_than_20min_2024.describe())

        City     Country  Population (2024)  Population (2023)  Growth Rate
0      Tokyo       Japan           37115035           37194105      -0.0021
1      Delhi       India           33807403           32941309       0.0263
2   Shanghai       China           29867918           29210808       0.0225
3      Dhaka  Bangladesh           23935652           23209616       0.0313
4  Sao Paulo      Brazil           22806704           22619736       0.0083
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               9 non-null      object
 1   Country            9 non-null      object
 2   Population (2024)  9 non-null      int64
 3   Population (2023)  9 non-null      int64
 4   Growth Rate        9 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 432.0+ bytes
None
       Population (2024)  Population (2023)  Growth Rate
count       9.000000e+00       9.000000e+00     9.000000
mean        2.628046e+07       2.585588e+07     0.017033
std         5.810194e+06       5.823099e+06     0.010157
min         2.167315e+07       2.129652e+07    -0.002100
25%         2.250532e+07       2.218320e+07     0.010000
50%         2.280670e+07       2.261974e+07     0.019400
75%         2.986792e+07       2.921081e+07     0.022500
max         3.711504e+07       3.719410e+07     0.031300

In [10]:
## Find largest cities in Vietnam

condition = df["Country"] == "Vietnam"

cities_Vietnam = df[condition]

print(cities_Vietnam.head())
print(cities_Vietnam.info())
print(cities_Vietnam.describe())

                 City  Country  Population (2024)  Population (2023)  \
38   Ho Chi Minh City  Vietnam            9567656            9320866
79              Hanoi  Vietnam            5431801            5253385
272           Can Tho  Vietnam            1938915            1865172
375         Hai Phong  Vietnam            1463650            1422974
460           Da Nang  Vietnam            1253228            1220634

     Growth Rate
38        0.0265
79        0.0340
272       0.0395
375       0.0286
460       0.0267
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 38 to 508
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               6 non-null      object
 1   Country            6 non-null      object
 2   Population (2024)  6 non-null      int64
 3   Population (2023)  6 non-null      int64
 4   Growth Rate        6 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 288.0+ bytes
None
       Population (2024)  Population (2023)  Growth Rate
count       6.000000e+00       6.000000e+00     6.000000
mean        3.466374e+06       3.365642e+06     0.030717
std         3.397902e+06       3.308743e+06     0.005085
min         1.142997e+06       1.110824e+06     0.026500
25%         1.305834e+06       1.271219e+06     0.027175
50%         1.701282e+06       1.644073e+06     0.028800
75%         4.558580e+06       4.406332e+06     0.032750
max         9.567656e+06       9.320866e+06     0.039500

In [11]:
## Find the Growing Cities in China

condition1 = df["Country"] == "China"
condition2 = df["Growth Rate"] > 0

growing_cities_in_China = df[condition1 & condition2]

print(growing_cities_in_China.head())
print(growing_cities_in_China.info())
print(growing_cities_in_China.describe())

         City Country  Population (2024)  Population (2023)  Growth Rate
2    Shanghai   China           29867918           29210808       0.0225
7     Beijing   China           22189082           21766214       0.0194
10  Chongqing   China           17773923           17340704       0.0250
18  Guangzhou   China           14590096           14284353       0.0214
19    Tianjin   China           14470873           14238643       0.0163
<class 'pandas.core.frame.DataFrame'>
Index: 225 entries, 2 to 800
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               225 non-null    object
 1   Country            225 non-null    object
 2   Population (2024)  225 non-null    int64
 3   Population (2023)  225 non-null    int64
 4   Growth Rate        225 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 10.5+ KB
None
       Population (2024)  Population (2023)  Growth Rate
count       2.250000e+02       2.250000e+02   225.000000
mean        2.422982e+06       2.369252e+06     0.023865
std         3.391057e+06       3.321088e+06     0.006145
min         7.500360e+05       7.338100e+05     0.009700
25%         9.306200e+05       9.107430e+05     0.019700
50%         1.275395e+06       1.250668e+06     0.023100
75%         2.152226e+06       2.107539e+06     0.027000
max         2.986792e+07       2.921081e+07     0.048300

In [12]:
## Total 2024 population of largest cities in India
condition = df["Country"] == "India"

total_Pop_India = df[condition]["Population (2024)"].sum()

print(total_Pop_India)

262676454

In [13]:
## Find cities with a growth rate decline and calculate their growth median
condition = df["Growth Rate"] < 0

df[condition]["Growth Rate"].median()

-0.0019

In [14]:
## Find the minimum 2023 population from the growing cities in China

growing_cities_in_China["Population (2023)"].min()

733810

This part is follow along exercise Learn Data Analytics with Pandas: Data Grouping and Aggregating Tutorial
by CodeWithJosh.

In [15]:
## How many cities are there in each country

grouped_country = df.groupby(by = "Country")

print(grouped_country["City"].count())

Country
Afghanistan    1
Algeria        2
Angola         6
Argentina      6
Armenia        1
              ..
Venezuela      8
Vietnam        6
Yemen          5
Zambia         2
Zimbabwe       1
Name: City, Length: 132, dtype: int64

In [16]:
## What is the average 2024 population in each country?
grouped_country["Population (2024)"].mean()

Country
Afghanistan    4.728384e+06
Algeria        1.951442e+06
Angola         2.336443e+06
Argentina      3.677088e+06
Armenia        1.097542e+06
                   ...
Venezuela      1.564168e+06
Vietnam        3.466374e+06
Yemen          1.413566e+06
Zambia         2.058284e+06
Zimbabwe       1.603201e+06
Name: Population (2024), Length: 132, dtype: float64

In [17]:
## What is the total positive growth rate for each country?

condition = df["Growth Rate"] > 0
growing_countries = df[condition].groupby(by = "Country")
growing_countries["Growth Rate"].sum()

Country
Afghanistan    0.0304
Algeria        0.0331
Angola         0.2568
Argentina      0.0648
Armenia        0.0025
                ...
Venezuela      0.1036
Vietnam        0.1843
Yemen          0.1883
Zambia         0.0834
Zimbabwe       0.0159
Name: Growth Rate, Length: 127, dtype: float64

In [18]:
## What is the average 2024 population for each country and growth rate?

group_country_growth = df.groupby(["Country", "Growth Rate"])

print(group_country_growth["Population (2024)"].mean().reset_index())

         Country  Growth Rate  Population (2024)
0    Afghanistan       0.0304          4728384.0
1        Algeria       0.0158           950768.0
2        Algeria       0.0173          2952115.0
3         Angola       0.0325           751297.0
4         Angola       0.0386          9651032.0
..           ...          ...                ...
666        Yemen       0.0361           974518.0
667        Yemen       0.0501           810149.0
668       Zambia       0.0385           792350.0
669       Zambia       0.0449          3324219.0
670     Zimbabwe       0.0159          1603201.0

[671 rows x 3 columns]

Aggregression

In [19]:
## What are the summary statistics (min, max, mean, sum) for the 2024 population for each country?

grouped_country["Population (2024)"].aggregate(["min", "max", "mean", "sum"])

                 min       max          mean       sum
Country
Afghanistan  4728384   4728384  4.728384e+06   4728384
Algeria       950768   2952115  1.951442e+06   3902883
Angola        751297   9651032  2.336443e+06  14018657
Argentina     923715  15618288  3.677088e+06  22062526
Armenia      1097542   1097542  1.097542e+06   1097542
...              ...       ...           ...       ...
Venezuela     775097   2991727  1.564168e+06  12513347
Vietnam      1142997   9567656  3.466374e+06  20798247
Yemen         759157   3407814  1.413566e+06   7067831
Zambia        792350   3324219  2.058284e+06   4116569
Zimbabwe     1603201   1603201  1.603201e+06   1603201

[132 rows x 4 columns]

In [20]:
## What is the average 2024 Population for each country and growth category?

def growth_category(growth):
    """
    growth_category : growth Float -> catetogy Str

    Designates a category to each growth according to the criteria:
    growth > 0.02 -> "high growth"
    0 <= growth <= 0.02 -> "moderate growth"
    growth < 0 -> "negative growth"

    Requires:
    growth is a number
    """

    if (growth > 0.02):
        ret_str = "high growth"
    elif (growth >= 0):
        ret_str = "moderate growth"
    else:
        ret_str = "negative growth"

    return ret_str

# Add a new column to the dataframe for growth rate
df["Growth Category"] = df["Growth Rate"].apply(growth_category)

group_country_category = df.groupby(["Country", "Growth Category"])

print(group_country_category["Population (2024)"].mean())

Country      Growth Category
Afghanistan  high growth        4.728384e+06
Algeria      moderate growth    1.951442e+06
Angola       high growth        2.336443e+06
Argentina    moderate growth    3.677088e+06
Armenia      moderate growth    1.097542e+06
                                    ...
Venezuela    moderate growth    1.676893e+06
Vietnam      high growth        3.466374e+06
Yemen        high growth        1.413566e+06
Zambia       high growth        2.058284e+06
Zimbabwe     moderate growth    1.603201e+06
Name: Population (2024), Length: 153, dtype: float64

## Cleaning

In [21]:
# Download latest version
path = kagglehub.dataset_download("ehtishamsadiq/uncleaned-laptop-price-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.8), please consider upgrading to the latest version (0.3.10).
Downloading from https://www.kaggle.com/api/v1/datasets/download/ehtishamsadiq/uncleaned-laptop-price-dataset?dataset_version_number=1...

100%|██████████| 23.5k/23.5k [00:00<?, ?B/s]

Extracting files...
Path to dataset files: C:\Users\skyfree\.cache\kagglehub\datasets\ehtishamsadiq\uncleaned-laptop-price-dataset\versions\1

In [22]:
# Move the dataset
files = os.listdir(path)

shutil.move(f'{path}/{files[0]}', "../Data/Datasets/uncleaned_laptop_price.csv")

'../Data/Datasets/uncleaned_laptop_price.csv'

In [36]:
file_loc = "../Data/Datasets/uncleaned_laptop_price.csv"
df = pd.read_csv(file_loc)

df.head()

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,1.0,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,2.0,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,3.0,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,4.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1273 non-null   float64
 1   Company           1273 non-null   object
 2   TypeName          1273 non-null   object
 3   Inches            1273 non-null   object
 4   ScreenResolution  1273 non-null   object
 5   Cpu               1273 non-null   object
 6   Ram               1273 non-null   object
 7   Memory            1273 non-null   object
 8   Gpu               1273 non-null   object
 9   OpSys             1273 non-null   object
 10  Weight            1273 non-null   object
 11  Price             1273 non-null   float64
dtypes: float64(2), object(10)
memory usage: 122.3+ KB

In [38]:
# initial data shape
df.shape

(1303, 12)

In [39]:
# Missing values in each column
df.isnull().sum()

Unnamed: 0          30
Company             30
TypeName            30
Inches              30
ScreenResolution    30
Cpu                 30
Ram                 30
Memory              30
Gpu                 30
OpSys               30
Weight              30
Price               30
dtype: int64

In [40]:
# Number of duplicate rows
df.duplicated().sum()

29

In [41]:
# Handle Missing Values
df.replace("?", pd.NA, inplace=True)

In [42]:
df.columns

Index(['Unnamed: 0', 'Company', 'TypeName', 'Inches', 'ScreenResolution',
       'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight', 'Price'],
      dtype='object')

In [43]:
# identify important columns
critical_cols = ['Company',
       'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight', 'Price']

df = df.dropna(subset = critical_cols) # Drop missing values

df = df.drop_duplicates() # drop duplicates

df.shape

(1271, 12)

In [44]:
# Convert string (object) to numbers
df["Weight"] = df["Weight"].str.replace("kg", "", regex=False)
df["Weight"] = pd.to_numeric(df["Weight"], errors="coerce")
df["Price"] = pd.to_numeric(df["Price"], errors="coerce")

In [45]:
# Standardize String columns
df["OpSys"] = df["OpSys"].str.lower().str.replace(" ", "_")

In [46]:
df.shape

(1271, 12)

In [47]:
df.head()

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macos,1.37,71378.6832
1,1.0,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macos,1.34,47895.5232
2,2.0,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,no_os,1.86,30636.0000
3,3.0,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macos,1.83,135195.3360
4,4.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macos,1.37,96095.8080

In [ ]:
# standardize memory
def convert_memory(RAM):
    try:
        if "GB" in RAM:
            return int(RAM.replace("GB", "")) * 1024
        elif "TB" in RAM:
            return int(RAM.replace("TB", "")) * 1024 * 1024
    except Exception as e:
        return None

df["Memory (MB)"] = df["Ram"].apply(convert_memory)

### Splitting CPU Make, Model, Frequency (speed)

In [ ]:
df["Cpu"].unique() #

array(['Intel Core i5 2.3GHz', 'Intel Core i5 1.8GHz',
       'Intel Core i5 7200U 2.5GHz', 'Intel Core i7 2.7GHz',
       'Intel Core i5 3.1GHz', 'AMD A9-Series 9420 3GHz',
       'Intel Core i7 2.2GHz', 'Intel Core i7 8550U 1.8GHz',
       'Intel Core i5 8250U 1.6GHz', 'Intel Core i3 6006U 2GHz',
       'Intel Core i7 2.8GHz', 'Intel Core M m3 1.2GHz',
       'Intel Core i7 7500U 2.7GHz', 'Intel Core i7 2.9GHz',
       'Intel Core i3 7100U 2.4GHz', 'Intel Core i5 7300HQ 2.5GHz',
       'AMD E-Series E2-9000e 1.5GHz', 'Intel Core i5 1.6GHz',
       'Intel Core i7 8650U 1.9GHz', 'Intel Atom x5-Z8300 1.44GHz',
       'AMD E-Series E2-6110 1.5GHz', 'AMD A6-Series 9220 2.5GHz',
       'Intel Celeron Dual Core N3350 1.1GHz',
       'Intel Core i3 7130U 2.7GHz', 'Intel Core i7 7700HQ 2.8GHz',
       'Intel Core i5 2.0GHz', 'AMD Ryzen 1700 3GHz',
       'Intel Pentium Quad Core N4200 1.1GHz',
       'Intel Celeron Dual Core N3060 1.6GHz', 'Intel Core i5 1.3GHz',
       'AMD FX 9830P 3GHz', 'Intel Core i7 7560U 2.4GHz',
       'AMD E-Series 6110 1.5GHz', 'Intel Core i5 6200U 2.3GHz',
       'Intel Core M 6Y75 1.2GHz', 'Intel Core i5 7500U 2.7GHz',
       'Intel Core i3 6006U 2.2GHz', 'AMD A6-Series 9220 2.9GHz',
       'Intel Core i7 6920HQ 2.9GHz', 'Intel Core i5 7Y54 1.2GHz',
       'Intel Core i7 7820HK 2.9GHz', 'Intel Xeon E3-1505M V6 3GHz',
       'Intel Core i7 6500U 2.5GHz', 'AMD E-Series 9000e 1.5GHz',
       'AMD A10-Series A10-9620P 2.5GHz', 'AMD A6-Series A6-9220 2.5GHz',
       'Intel Core i5 2.9GHz', 'Intel Core i7 6600U 2.6GHz',
       'Intel Core i3 6006U 2.0GHz',
       'Intel Celeron Dual Core 3205U 1.5GHz',
       'Intel Core i7 7820HQ 2.9GHz', 'AMD A10-Series 9600P 2.4GHz',
       'Intel Core i7 7600U 2.8GHz', 'AMD A8-Series 7410 2.2GHz',
       'Intel Celeron Dual Core 3855U 1.6GHz',
       'Intel Pentium Quad Core N3710 1.6GHz',
       'AMD A12-Series 9720P 2.7GHz', 'Intel Core i5 7300U 2.6GHz',
       'AMD A12-Series 9720P 3.6GHz',
       'Intel Celeron Quad Core N3450 1.1GHz',
       'Intel Celeron Dual Core N3060 1.60GHz',
       'Intel Core i5 6440HQ 2.6GHz', 'Intel Core i7 6820HQ 2.7GHz',
       'AMD Ryzen 1600 3.2GHz', 'Intel Core i7 7Y75 1.3GHz',
       'Intel Core i5 7440HQ 2.8GHz', 'Intel Core i7 7660U 2.5GHz',
       'Intel Core i7 7700HQ 2.7GHz', 'Intel Core M m3-7Y30 2.2GHz',
       'Intel Core i5 7Y57 1.2GHz', 'Intel Core i7 6700HQ 2.6GHz',
       'Intel Core i3 6100U 2.3GHz', 'Intel Atom x5-Z8350 1.44GHz',
       'AMD A10-Series 9620P 2.5GHz', 'AMD E-Series 7110 1.8GHz',
       'Intel Celeron Dual Core N3350 2.0GHz',
       'AMD A9-Series A9-9420 3GHz', 'Intel Core i7 6820HK 2.7GHz',
       'Intel Core M 7Y30 1.0GHz', 'Intel Xeon E3-1535M v6 3.1GHz',
       'Intel Celeron Quad Core N3160 1.6GHz',
       'Intel Core i5 6300U 2.4GHz', 'Intel Core i3 6100U 2.1GHz',
       'AMD E-Series E2-9000 2.2GHz',
       'Intel Celeron Dual Core N3050 1.6GHz',
       'Intel Core M M3-6Y30 0.9GHz', 'AMD A9-Series 9420 2.9GHz',
       'Intel Core i5 6300HQ 2.3GHz', 'AMD A6-Series 7310 2GHz',
       'Intel Atom Z8350 1.92GHz', 'Intel Xeon E3-1535M v5 2.9GHz',
       'Intel Core i5 6260U 1.8GHz',
       'Intel Pentium Dual Core N4200 1.1GHz',
       'Intel Celeron Quad Core N3710 1.6GHz', 'Intel Core M 1.2GHz',
       'AMD A12-Series 9700P 2.5GHz', 'Intel Core i7 7500U 2.5GHz',
       'Intel Pentium Dual Core 4405U 2.1GHz',
       'AMD A4-Series 7210 2.2GHz', 'Intel Core i7 6560U 2.2GHz',
       'Intel Core M m7-6Y75 1.2GHz', 'AMD FX 8800P 2.1GHz',
       'Intel Core M M7-6Y75 1.2GHz', 'Intel Core i5 7200U 2.50GHz',
       'Intel Core i5 7200U 2.70GHz', 'Intel Atom X5-Z8350 1.44GHz',
       'Intel Core i5 7200U 2.7GHz', 'Intel Core M 1.1GHz',
       'Intel Atom x5-Z8550 1.44GHz',
       'Intel Pentium Dual Core 4405Y 1.5GHz',
       'Intel Pentium Quad Core N3700 1.6GHz', 'Intel Core M 6Y54 1.1GHz',
       'Intel Core i7 6500U 2.50GHz',
       'Intel Celeron Dual Core N3350 2GHz',
       'Samsung Cortex A72&A53 2.0GHz', 'AMD E-Series 9000 2.2GHz',
       'Intel Core M 6Y30 0.9GHz', 'AMD A9-Series 9410 2.9GHz'],
      dtype=object)

In [51]:
df["Cpu_Make"] = df["Cpu"].map(lambda x: str(x).split(" ")[0])

In [54]:
df["Cpu_Make"].unique()

array(['Intel', 'AMD', 'Samsung'], dtype=object)

In [56]:
df["Cpu_Model"] = df["Cpu"].map(lambda x: ' '.join(str(x).split(" ")[1:-1]))

df["Cpu_Model"].unique()

array(['Core i5', 'Core i5 7200U', 'Core i7', 'A9-Series 9420',
       'Core i7 8550U', 'Core i5 8250U', 'Core i3 6006U', 'Core M m3',
       'Core i7 7500U', 'Core i3 7100U', 'Core i5 7300HQ',
       'E-Series E2-9000e', 'Core i7 8650U', 'Atom x5-Z8300',
       'E-Series E2-6110', 'A6-Series 9220', 'Celeron Dual Core N3350',
       'Core i3 7130U', 'Core i7 7700HQ', 'Ryzen 1700',
       'Pentium Quad Core N4200', 'Celeron Dual Core N3060', 'FX 9830P',
       'Core i7 7560U', 'E-Series 6110', 'Core i5 6200U', 'Core M 6Y75',
       'Core i5 7500U', 'Core i7 6920HQ', 'Core i5 7Y54',
       'Core i7 7820HK', 'Xeon E3-1505M V6', 'Core i7 6500U',
       'E-Series 9000e', 'A10-Series A10-9620P', 'A6-Series A6-9220',
       'Core i7 6600U', 'Celeron Dual Core 3205U', 'Core i7 7820HQ',
       'A10-Series 9600P', 'Core i7 7600U', 'A8-Series 7410',
       'Celeron Dual Core 3855U', 'Pentium Quad Core N3710',
       'A12-Series 9720P', 'Core i5 7300U', 'Celeron Quad Core N3450',
       'Core i5 6440HQ', 'Core i7 6820HQ', 'Ryzen 1600', 'Core i7 7Y75',
       'Core i5 7440HQ', 'Core i7 7660U', 'Core M m3-7Y30',
       'Core i5 7Y57', 'Core i7 6700HQ', 'Core i3 6100U', 'Atom x5-Z8350',
       'A10-Series 9620P', 'E-Series 7110', 'A9-Series A9-9420',
       'Core i7 6820HK', 'Core M 7Y30', 'Xeon E3-1535M v6',
       'Celeron Quad Core N3160', 'Core i5 6300U', 'E-Series E2-9000',
       'Celeron Dual Core N3050', 'Core M M3-6Y30', 'Core i5 6300HQ',
       'A6-Series 7310', 'Atom Z8350', 'Xeon E3-1535M v5',
       'Core i5 6260U', 'Pentium Dual Core N4200',
       'Celeron Quad Core N3710', 'Core M', 'A12-Series 9700P',
       'Pentium Dual Core 4405U', 'A4-Series 7210', 'Core i7 6560U',
       'Core M m7-6Y75', 'FX 8800P', 'Core M M7-6Y75', 'Atom X5-Z8350',
       'Atom x5-Z8550', 'Pentium Dual Core 4405Y',
       'Pentium Quad Core N3700', 'Core M 6Y54', 'Cortex A72&A53',
       'E-Series 9000', 'Core M 6Y30', 'A9-Series 9410'], dtype=object)

In [57]:
# extract cpu speed using a function
def extract_speed(cpu):
    try:
        return float(cpu.split()[-1][:-3]) # Remove the GHz from the end
    except Exception as e:
        return None

# Create new column
df["Cpu_speed"] = df["Cpu"].apply(extract_speed)

df.head()

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price,Cpu_Make,Cpu_Model,Cpu_speed
0,0.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macos,1.37,71378.6832,Intel,Core i5,2.3
1,1.0,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macos,1.34,47895.5232,Intel,Core i5,1.8
2,2.0,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,no_os,1.86,30636.0000,Intel,Core i5 7200U,2.5
3,3.0,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macos,1.83,135195.3360,Intel,Core i7,2.7
4,4.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macos,1.37,96095.8080,Intel,Core i5,3.1

### Using fillna

In [59]:
df["Weight"].fillna(df["Weight"].mean(), inplace= True)
df["Price"].fillna(df["Price"].mean(), inplace= True)
df["Cpu_speed"].fillna(df["Cpu_speed"].mean(), inplace= True)
df["Memory (MB)"].fillna(df["Memory (MB)"].mean(), inplace= True)

C:\Users\skyfree\AppData\Local\Temp\ipykernel_12292\301078305.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Weight"].fillna(df["Weight"].mean(), inplace= True)
C:\Users\skyfree\AppData\Local\Temp\ipykernel_12292\301078305.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Price"].fillna(df["Price"].mean(), inplace= True)
C:\Users\skyfree\AppData\Local\Temp\ipykernel_12292\301078305.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Cpu_speed"].fillna(df["Cpu_speed"].mean(), inplace= True)
C:\Users\skyfree\AppData\Local\Temp\ipykernel_12292\301078305.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Memory (MB)"].fillna(df["Memory (MB)"].mean(), inplace= True)

### Final data

In [60]:
df.shape

(1271, 16)

In [61]:
df.head()

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price,Cpu_Make,Cpu_Model,Cpu_speed,Memory (MB)
0,0.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macos,1.37,71378.6832,Intel,Core i5,2.3,8192
1,1.0,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macos,1.34,47895.5232,Intel,Core i5,1.8,8192
2,2.0,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,no_os,1.86,30636.0000,Intel,Core i5 7200U,2.5,8192
3,3.0,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macos,1.83,135195.3360,Intel,Core i7,2.7,16384
4,4.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macos,1.37,96095.8080,Intel,Core i5,3.1,8192

In [62]:
df.isnull().sum()

Unnamed: 0          0
Company             0
TypeName            0
Inches              1
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price               0
Cpu_Make            0
Cpu_Model           0
Cpu_speed           0
Memory (MB)         0
dtype: int64

In [63]:
df.duplicated().sum()

0

In [64]:
df.dtypes

Unnamed: 0          float64
Company              object
TypeName             object
Inches               object
ScreenResolution     object
Cpu                  object
Ram                  object
Memory               object
Gpu                  object
OpSys                object
Weight              float64
Price               float64
Cpu_Make             object
Cpu_Model            object
Cpu_speed           float64
Memory (MB)           int64
dtype: object

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1271 entries, 0 to 1302
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1271 non-null   float64
 1   Company           1271 non-null   object
 2   TypeName          1271 non-null   object
 3   Inches            1270 non-null   object
 4   ScreenResolution  1271 non-null   object
 5   Cpu               1271 non-null   object
 6   Ram               1271 non-null   object
 7   Memory            1271 non-null   object
 8   Gpu               1271 non-null   object
 9   OpSys             1271 non-null   object
 10  Weight            1271 non-null   float64
 11  Price             1271 non-null   float64
 12  Cpu_Make          1271 non-null   object
 13  Cpu_Model         1271 non-null   object
 14  Cpu_speed         1271 non-null   float64
 15  Memory (MB)       1271 non-null   int64
dtypes: float64(4), int64(1), object(11)
memory usage: 201.1+ KB

In [66]:
df.describe()

        Unnamed: 0       Weight          Price    Cpu_speed   Memory (MB)
count  1271.000000  1271.000000    1271.000000  1271.000000   1271.000000
mean    652.932337     2.077443   59939.898135     2.298993   8660.091267
std     376.568215     0.808102   37358.403202     0.507199   5698.306246
min       0.000000     0.000200    9270.720000     0.900000   1024.000000
25%     327.500000     1.500000   31914.720000     2.000000   4096.000000
50%     652.000000     2.040000   52054.560000     2.500000   8192.000000
75%     980.500000     2.320000   79360.293600     2.700000   8192.000000
max    1302.000000    11.100000  324954.720000     3.600000  65536.000000