# Practice with Pandas

follow along exercise Learn Data Analytics with Pandas: Master Data Filtering in Python from CodeWithJosh

## Import Data from kaggle

In [19]:
import kagglehub

# Authenticate
# kagglehub.login() # This will prompt you for your credentials.
# We also offer other ways to authenticate (credential file & env variables): https://github.com/Kaggle/kagglehub?tab=readme-ov-file#authenticate

from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi()
api.authenticate()

In [37]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ibrarhussain123/world-largest-cities-by-population-2024")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/ibrarhussain123/world-largest-cities-by-population-2024?dataset_version_number=1...

100%|██████████| 16.9k/16.9k [00:00<00:00, 1.04MB/s]

Extracting files...
Path to dataset files: C:\Users\skyfree\.cache\kagglehub\datasets\ibrarhussain123\world-largest-cities-by-population-2024\versions\1

In [51]:
# Move the dataset
import os, shutil

files = os.listdir(path)

shutil.move(f'{path}/{files[0]}', "../Data/Datasets/big_cities.csv")

'../Data/Datasets/big_cities.csv'

## Load Data into Pandas

In [56]:
import pandas as pd

file_loc = "../Data/Datasets/big_cities.csv"
df = pd.read_csv(file_loc)

df.head()

,Unnamed: 0,City,Country,Population (2024),Population (2023),Growth Rate
0,0,Tokyo,Japan,37115035,37194105,-0.0021
1,1,Delhi,India,33807403,32941309,0.0263
2,2,Shanghai,China,29867918,29210808,0.0225
3,3,Dhaka,Bangladesh,23935652,23209616,0.0313
4,4,Sao Paulo,Brazil,22806704,22619736,0.0083

In [57]:
# Drop the Unnamed column
df.drop(df.columns[0], axis= 1)

,City,Country,Population (2024),Population (2023),Growth Rate
0,Tokyo,Japan,37115035,37194105,-0.0021
1,Delhi,India,33807403,32941309,0.0263
2,Shanghai,China,29867918,29210808,0.0225
3,Dhaka,Bangladesh,23935652,23209616,0.0313
4,Sao Paulo,Brazil,22806704,22619736,0.0083
...,...,...,...,...,...
796,Bhavnagar,India,751493,737128,0.0195
797,Sheffield,United Kingdom,751303,745876,0.0073
798,Huambo,Angola,751297,727641,0.0325
799,Ribeirao Preto,Brazil,750174,742115,0.0109
800,Panzhihua,China,750036,738495,0.0156