# Data Analysis of Coral Reef bleaching

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

## Load dataset and Inital Exploration

In [3]:
data = pd.read_csv("../Data/Datasets/Reef Check Data Raw.csv")
data.head()

,Reef ID,Reef Name,Longitude Degrees,Longitude Minutes,Longitude Seconds,Longitude Cardinal Direction,Latitude Degrees,Latitude Minutes,Latitude Seconds,Latitude Cardinal Direction,...,Year,Date,Depth,Organism Code,S1,S2,S3,S4,Errors?,What errors?
0,103.10.28.1E.10.50.46.1N,Koh Mano (Minor),103.0,10.0,28.1,E,10.0,50.0,46.1,N,...,2003,19-Feb-03,4.5,Bleaching (% of colony),0.0,0.0,0.0,0.0,False,NaN
1,103.10.28.1E.10.50.46.1N,Koh Mano (Minor),103.0,10.0,28.1,E,10.0,50.0,46.1,N,...,2003,19-Feb-03,4.5,Bleaching (% of population),0.0,0.0,0.0,0.0,False,NaN
2,103.11.35.5E.10.49.32N,Koh Mano (south),103.0,11.0,35.5,E,10.0,49.0,32.0,N,...,2003,28-Feb-03,4.5,Bleaching (% of colony),0.0,0.0,0.0,0.0,False,NaN
3,103.11.35.5E.10.49.32N,Koh Mano (south),103.0,11.0,35.5,E,10.0,49.0,32.0,N,...,2003,28-Feb-03,4.5,Bleaching (% of population),0.0,0.0,0.0,0.0,False,NaN
4,103.11.79.5E.10.48.2.7N,Koh Ta Team,103.0,11.0,47.7,E,10.0,48.0,2.7,N,...,2003,24-Feb-03,5.0,Bleaching (% of colony),0.0,0.0,0.0,0.0,False,NaN

In [4]:
data.shape

(18211, 24)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18211 entries, 0 to 18210
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Reef ID                       18211 non-null  object
 1   Reef Name                     18211 non-null  object
 2   Longitude Degrees             18165 non-null  float64
 3   Longitude Minutes             18165 non-null  float64
 4   Longitude Seconds             18161 non-null  float64
 5   Longitude Cardinal Direction  18179 non-null  object
 6   Latitude Degrees              18165 non-null  float64
 7   Latitude Minutes              18165 non-null  float64
 8   Latitude Seconds              18165 non-null  float64
 9   Latitude Cardinal Direction   18179 non-null  object
 10  Ocean                         18171 non-null  object
 11  Country                       18211 non-null  object
 12  State/Province/Island         16258 non-null  object
 13  City/Town                     13903 non-null  object
 14  Year                          18211 non-null  int64
 15  Date                          18211 non-null  object
 16  Depth                         18211 non-null  float64
 17  Organism Code                 18211 non-null  object
 18  S1                            18196 non-null  float64
 19  S2                            18189 non-null  float64
 20  S3                            18074 non-null  float64
 21  S4                            18000 non-null  float64
 22  Errors?                       18211 non-null  bool
 23  What errors?                  3904 non-null   object
dtypes: bool(1), float64(11), int64(1), object(11)
memory usage: 3.2+ MB

In [6]:
data.columns

Index(['Reef ID', 'Reef Name', 'Longitude Degrees', 'Longitude Minutes',
       'Longitude Seconds', 'Longitude Cardinal Direction', 'Latitude Degrees',
       'Latitude Minutes', 'Latitude Seconds', 'Latitude Cardinal Direction',
       'Ocean', 'Country', 'State/Province/Island', 'City/Town', 'Year',
       'Date', 'Depth', 'Organism Code', 'S1', 'S2', 'S3', 'S4', 'Errors?',
       'What errors?'],
      dtype='object')

In [7]:
## Number of mising values
data.isnull().sum()

Reef ID                             0
Reef Name                           0
Longitude Degrees                  46
Longitude Minutes                  46
Longitude Seconds                  50
Longitude Cardinal Direction       32
Latitude Degrees                   46
Latitude Minutes                   46
Latitude Seconds                   46
Latitude Cardinal Direction        32
Ocean                              40
Country                             0
State/Province/Island            1953
City/Town                        4308
Year                                0
Date                                0
Depth                               0
Organism Code                       0
S1                                 15
S2                                 22
S3                                137
S4                                211
Errors?                             0
What errors?                    14307
dtype: int64

In [8]:
## Number of duplicated rows
data.duplicated().sum()

0